*{
  margin: 0;
  padding: 0;
  font-family: 'Courgette', cursive;
  color:black;
}

body{
    background-color: #2b2b2b;
}
.line{
  outline: 1px solid red;
}
.splash{
  text-align: center;
  background-color: #2b2b2b;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-food{
  color: #bd7132;
}

img[alt="gif"]{
  width: 50%;
}

.welcome{
  color: white;
  margin-top: 2rem;
}

/*mapa*/
.map{
  width: 90%;
	height: 200px;
	margin-top:2rem;
	padding: 5px;
	border: 2px solid #bd7132;
	border-radius: 0.5em;
}
.mrgin{
  margin-bottom: 3rem;
}
/*otros*/
/*
.height-25 {
  height: 25vw;
}

.mg-bt-25 {
  margin-bottom: 25px;
}*/
